{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{deps, [
	{gproc, "0.*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
	{billy_common, "", {git, "git@github.com:PowerMeMobile/billy_common.git", {branch, "master"}}},
	{billy_session_c, "", {git, "git@github.com:PowerMeMobile/billy_session_c.git", {branch, "master"}}}
]}.
