{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{deps, [
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common.git", {tag, "1.0.0"}}},
    {billy_common, ".*", {git, "https://github.com/PowerMeMobile/billy_common.git", {tag, "1.0.0-rc"}}}
]}.
{xref_checks, [undefined_function_calls]}.
