{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{deps, [
    {billy_common, ".*", {git, "https://github.com/PowerMeMobile/billy_common.git", {branch, "master"}}},
    {billy_session_c, ".*", {git, "https://github.com/PowerMeMobile/billy_session_c.git", {branch, "master"}}},
    {sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}}
]}.
{xref_checks, [undefined_function_calls]}.
