{sys, [
	   {lib_dirs, ["../..", "../deps"]},
       {rel, "billy_client", "1",
        [
         kernel,
         stdlib,
         sasl,
         appmon,
         billy_client
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "billy_client"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "billy_client"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/billy_client", "bin/billy_client"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/l4e.config", "etc/l4e.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
