logger {
   file_appender file{
    dir = "log/",
    level = debug,
    file = "billy",
    type = size,
    max = 1000000,
    suffix = log,
    rotation = 5,
    format = '[%L] %I %l%n'
   }

   %% Consloe appender with level set to warn
   console_appender cmd{
    level = debug,
    format = '[%L] %j %T %l%n'
   }

  %  smtp_appender email{
  %   level=error,
  %   ip = "10.10.0.1",
  %   %port = 25,
  %   no_auth = true,
  %   %username = user,
  %   %password = pass,
  %   from = "billy@my_server",
  %   to = "rg@dev1team.net",
  %   title = "billy error report",
  %   msg = "[%T %j] %L:%n%l%n"
  % }
}
